{% extends 'layout.njk' %}

{% block content %}

    
    <div class='login-container'>

        <div class='login-title'>登陆</div>
        
        <div class='login-content'>
            <input class='login-input' placeholder='昵称/用户名'/>
            <button class='login-button'>马上登陆</button>
        </div>
        
    </div>

{% endblock %}

{% block style %}
    <link rel='stylesheet', href='/css/login.css'>
{% endblock %}

{% block script %}
    <script src='/js/login.js'></script>
{% endblock %}